
.section1-container{
    display: grid;
    grid-template-columns: 1fr;
    gap:2.5rem;
    margin-bottom: 2.5rem;
}

.section1image{
    display: flex;
    justify-content: center;
}

.fourpics{
    width: 85%;
}

.sec1-heading{
    line-height: 40px;
    font-size: 1.5rem;
    margin-top: 1rem;
    text-align: center;
}

.sec1-paragraph{
    line-height: 25px;
    text-align: center;
}

.section1writeup{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    /* border: 1px solid purple; */
}

.sec1-heading, .sec1-paragraph, .sec1-form{
}

.sec1-form{
    display: flex;
    width: 95%;
}

.sec1input{
    width: 65%;
    padding: .8rem 1.5rem;
    background: rgba(247, 247, 247, 0.1);
    border: 1px solid #B8B8B8;
    border-radius: 8px 0px 0px 8px;
}

.sec1input::placeholder{
    color: #B8B8B8;
}

.sec1button{
    width: 35%;
    padding: .8rem 1.5rem;
    background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.46%);
    border-radius: 0px 8px 8px 0px;
    border: none;
    color: #FFFFFF;
}

.purplebar{
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: .5rem;
}

.mbt_token,.meta_mask,.open_sea{
    width: 85px;
}

.purplebar-section, .section3{
    background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%); 
    
}



.section3 {
    border: 1px solid #000000;
}

.section3-container {
    /* display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40% 60%;
    gap: 1rem; */

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

}


 .section3writeup {
     display: flex;
     flex-direction: column;
     gap: 1rem;
     justify-content: center;
     /* align-items: center; */
 }

 .section3writeup h3,
 .section3writeup p {
     color: #fff;
     opacity: .96;
     line-height: 20px;
 }

.section3writeup h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    margin-top: 1rem;
    text-align: left;
}

 .section3writeup p {
     /* margin-bottom: 1rem; */
     font-size: .9rem;
 }

.threeimage {
    width: 95%;
}


@media(min-width:481px){
     
    .section1-container{
        
    }

    .sec1-heading {
        font-size: 2rem;
    }

    .mbt_token,
    .meta_mask,
    .open_sea {
        width: 120px;
    }


    .fourpics {
        width: 85%;
    }

    .purplebar{
        /* flex-direction: row;
        justify-content: space-around; */
    }

    .section3-container {
        grid-template-columns: 45% 55%;
    }


    .section3writeup p {
        font-size: 1rem;
    }

    .threeimage {
        width: 100%;
         /* width: 60%; */
    }

}

@media (min-width:769px) {
    .section1-container{
        grid-template-columns: 1fr 1fr;
        gap:4rem;
    }

    .sec1-heading, .sec1-paragraph{
        text-align: left;
    }

        
    .sec1-paragraph {
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 35px;
    }

    .section1writeup{
        align-items: start;
    }

    .sec1-heading {
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 140%;
    }

    .section3heading{
        font-size: 48px;
        line-height: 60px;
    }
    
    .section3writeup p {
        font-size: 1.2rem;
    }


    .mbt_token,
    .meta_mask,
    .open_sea {
        width: 140px;
    
    }

    .fourpics {
        width: 100%;
    }

    .section3-container {
        display: grid;
        grid-template-columns: 40% 60%;
    }

}