

li{
    list-style:  none;
}

.section2-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.location-bar-container{
    font-size: .8rem;
}


.location-settings{
    background: linear-gradient(124.4deg, #FFFFFF 10.8%, #FFFFFF 87.34%);
    border: 1px solid #B4B4B4;
    border-radius: 8px;
   

}

.location-settings p{

}

.settings-icon{
    width: 18px;
}

.location-options{

}

.location-options ul{
    
}

.settings-icon{
}

@media (min-width:481px){
    .location-bar-container{
        margin: 2rem 2rem;
    }

    .location-settings {
        grid-template-columns: 90% 10%;

    }

    .location-options ul {
     
    }
}


@media (min-width:789px) {
    .location-bar-container {
        margin: 2rem 3rem;
    }

     .location-settings {
        

    }

    .location-options ul {
       
    }    
        
}


@media (min-width:1025px) {
    .location-bar-container {
        margin: 2rem 4rem;
    }
}