li{
    list-style:  none;
}

.location-bar-container{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 80% 20%;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    width:100%;
    font-size: .8rem;
}


.location-settings{
    padding-left: 0;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 90% 10%;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(124.4deg, #FFFFFF 10.8%, #FFFFFF 87.34%);
    border: 1px solid #B4B4B4;
    border-radius: 8px;
    padding: .6rem;
    justify-self: center;
   

}

.location-settings p{
    margin-left: 0;
}

.settings-icon{
    width: 18px;
}

.location-options{

}

.location-options ul{
    display: grid;
    gap:.5rem;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(7, 1fr);
    justify-content: center;
    align-items: center;
}

.settings-icon{
}

@media (min-width:481px){
    .location-bar-container{
        margin: 2rem 2rem;
        grid-template-columns: 1fr;

    }

    .location-settings {
        grid-template-columns: 90% 10%;

    }

    .location-options ul {
        display: grid;
        gap: .5rem;
        grid-template-rows: 1fr 1fr;
        /* grid-template-columns: repeat(4, 1fr); */
        justify-content: center;
        align-items: center;
    }
}


@media (min-width:789px) {
    .location-bar-container {
        margin: 2rem 3rem;
    }

     .location-settings {
        grid-template-columns: 70% 10%;

    }
}


@media (min-width:1025px) {
    .location-bar-container {
        margin: 2rem 4rem;
    }
}