

li{
    list-style:  none;
}

.section2-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.location-bar-container{
    font-size: .8rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}


.location-settings{
    display: flex;
    padding: .5rem;
    gap:1.5rem;
    background: linear-gradient(124.4deg, #FFFFFF 10.8%, #FFFFFF 87.34%);
    border: 1px solid #B4B4B4;
    border-radius: 8px;

}

.location-settings p{

}

.settings-icon{
    width: 18px;
}

.location-options{

}

.location-options ul{
   display: flex; 
   flex-direction: column;
   gap:.8rem;
   text-align: center;
}

.settings-icon{
}

@media (min-width:481px){
    .location-bar-container{
        margin: 2rem 2rem;
        align-items: center;
        /* flex-direction: row; */
    }

    .location-settings {
        /* grid-template-columns: 90% 10%; */

    }

    .location-options ul {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .location-options ul li{
        flex-basis: 25%;
    }
}


@media (min-width:789px) {
    .location-bar-container {
        margin: 2rem 3rem;
        flex-direction: row;
    }

     .location-settings {
        

    }

    .location-options ul {
       
    }    
        
}


@media (min-width:1025px) {
    .location-bar-container {
        margin: 2rem 4rem;
    }
}