@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@400;500;600;700&display=swap');


*, input {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

header, section, footer{
    border: 1px solid grey;
}

body, a{
    color:#434343;
    font-family: 'Red Rose';
    font-weight:400;
}

.btn{
    border-radius: 10px;
    border: none;
    padding: .8rem 1.5rem
}

.btn-purple{
    background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
    color:white;
}

.btn-white{
    background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}


.header-container{
    display: flex;
    margin:2rem 3rem;
    justify-content: space-between;
}

nav{
    border: 4px solid purple;
    width: 40%;

    /* background-color: aqua; */
}

nav ul{
    display: flex;
    border: 2px solid red;
    justify-content: space-between;
    
}

nav ul li{
    list-style: none;
    
}


footer{
    background: #1D1D1E;
}

footer h4{
    color:#ffff;
}