@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

*,
input {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Geneva, Tahoma, sans-serif;
    overflow-x: hidden;
}

.ContactPage-header {
    display: flex;
    justify-content: center;

}

.ContactPage-header div {
    margin: 3rem 1rem 2.5rem 1rem;
    width: 100%;
}

.form-container {
    display: flex;
    justify-content: center;

}

form {
    margin: 0 1rem 4.5rem 1rem;
    display: grid;
    grid-template-rows: repeat(6 1fr);
    gap: .6rem;
    width: 100%
}

.contactMe-heading {
    color: #101828;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: .7rem;

}

.header-message {
    color: #475467;
    font-size: .85rem;
}

label {
    color: #344054;
    font-size: .75rem;
    font-weight: 600;
}

.agreement-label {
    color: #667085;
    font-weight: 400;
    font-size: .75rem;
}

::placeholder {
    color: #667085;
    font-size: .8rem;

}

input,
textarea,
button {
    border-radius: 4px;
    padding: 8px;
    margin-top: 6px;
    margin-bottom: 4px;
    width: 100%;
}

input,
textarea {
    color: #101828;
    border: 1px solid #D0D5DD;
}

textarea:focus {
    outline: none;
    border: 1px solid #84CAFF;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #D1E9FF;
}

textarea {
    resize: none;
}

input:focus {
    outline: none;
    border: 1px solid #84CAFF;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
}

button {
    background: #1570EF;
    border: 1px solid #1570EF;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    width: 100%;
    color: white;
}

button:hover {

    border: 1px solid #175CD3;
    background: #175CD3
}

button:focus {
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #D1E9FF;
}

button:disabled {
    background: #B2DDFF;
    border: 1px solid #B2DDFF;
}


.checkbox-div {
    /* border: 1px solid #D0D5DD; */
}

.agreement-label .checkbox-input {
    display: none;
}

.checkbox-replacement {
    height: 15px;
    width: 15px;
    border: 1px solid #D0D5DD;
    display: inline-block;
    border-radius: 2px;
    position: relative;

}

<<<<<<< HEAD
[type=checkbox]:checked+.checkbox-replacement:before {
    content: '\f00c';
    position: absolute;
    top: 0;
    left: 3px;
    color: #1570EF
=======
[type=checkbox]:checked + .checkbox-replacement:before {
    content: url("/src/assets/check-icon.svg");
    position: absolute;
    top: 1px;
    left: 1px;
    color:#1570EF

>>>>>>> 008a2846c39306633586be04b5a1b3c4135f86f5
}

.checkbox-replacement:hover {
    border: 1px solid #175CD3;
}

.checkbox-replacement:focus {
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #D1E9FF;
}

.checkbox-replacement:disabled {
    background: #D0D5DD;
}


@media (min-width: 425px) {
    .ContactPage-header div {
        margin: 4rem 10vw 2.5rem 10vw;
        max-width: 600px;
        /*border: 1px solid red;*/
    }

    form {
        margin: 0 10vw 5rem 10vw;
        max-width: 600px;
        grid-template-columns: 1fr 1fr;
    }

    .email-div,
    .message-div,
    .checkbox-div,
    .submit-div {
        grid-column: span 2;
    }

}